In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [4]:
df_ventas = pd.read_csv('./data/ventas.txt', delimiter = "|", infer_datetime_format=True, parse_dates=[0])

In [6]:
# vamos a guardar las ventas que tienen valores de unidades negativas
df_ventas_negativas = (
    df_ventas[lambda df: df.unidades <= 0]
    .sort_values(['unidades',"id_pos"], ascending=True)
)

En primera instancia, buscamos compras una semana antes de dichas compras negativas en el mismo establecimiento, para verificar si se han realizado una compra con la misma cantidad de unidades. Esto nos permitiría conocer cuales posiblemente sean devoluciones y no debamos quitarlas.

In [7]:
#obtenemos los establecimientos que tienen unidades negativas: 
pos_negativos = df_ventas_negativas.id_pos.unique()

#filtramos las ventas de los establecimientos y los agrupamos por su id
df_ventas_pos_negativos = df_ventas[lambda df: df.id_pos.isin(pos_negativos)]

#por cada venta negativa, en un establecimiento, 
# deberíamos buscar si 1 semana atrás tiene una venta con la misma cantidad.
def get_one_week_before(df):
    """
    está función retorna los elementos que tienen una venta en cantidad igual 
    a la venta que tiene valores nulos. 
    toma el último valor de ellos y lo retorna
    """
    id_pos = df.id_pos.iloc[0]
    ventas_id = df_ventas_negativas[lambda d: d.id_pos == id_pos].fecha
    ventas_id["rango"] = ventas_id.apply(lambda r: pd.date_range(end=r, periods=8))
    ret = pd.DataFrame().reindex_like(df).dropna()
    for t in ventas_id.rango.iteritems():
        rango = df[df.set_index(['fecha']).index.isin(t[1])]
        units = rango.unidades
        last = units.iloc[-1]
        if last < 0: 
            try:
                ret = (
                    ret
                       .append(
                           rango[lambda df: 
                                 df.unidades == -last].iloc[-1], 
                           ignore_index=True)
                      )
            except:
                pass
    return ret
    
(
    df_ventas_pos_negativos
    .groupby('id_pos')
    .apply(lambda df: get_one_week_before(df))
)

              fecha   id_pos  unidades    canal
id_pos
3262   0 2012-12-20   3262.0       1.0  ALMACEN
3384   0 2012-12-06   3384.0       1.0  ALMACEN
3422   0 2012-12-21   3422.0       1.0  ALMACEN
3485   0 2012-12-09   3485.0       1.0  ALMACEN
3494   0 2012-12-03   3494.0       1.0  ALMACEN
3512   0 2012-12-15   3512.0       2.0  ALMACEN
3587   0 2012-11-16   3587.0       1.0  ALMACEN
3667   0 2013-12-15   3667.0       2.0  ALMACEN
3756   0 2013-12-12   3756.0       1.0  ALMACEN
3781   0 2013-12-07   3781.0       1.0  ALMACEN
3797   0 2013-11-16   3797.0       5.0  ALMACEN
3890   0 2012-11-23   3890.0       1.0  ALMACEN
3900   0 2013-12-05   3900.0       1.0  ALMACEN
3971   0 2013-11-21   3971.0       2.0  ALMACEN
4042   0 2012-12-13   4042.0       1.0  ALMACEN
4251   0 2012-12-16   4251.0       1.0  ALMACEN
4322   0 2013-12-06   4322.0       2.0  ALMACEN
4366   0 2013-12-18   4366.0       1.0  ALMACEN
4367   0 2013-12-19   4367.0       1.0  ALMACEN
4436   0 2013-11-20   4436.0       1.0  ALMACEN
4661   0 2012-11-18   4661.0       1.0  ALMACEN
4799   0 2013-12-09   4799.0       1.0  ALMACEN
4871   0 2013-11-25   4871.0       1.0  ALMACEN
5007   0 2012-12-24   5007.0       1.0  ALMACEN
5100   0 2013-12-21   5100.0       2.0  ALMACEN
5125   0 2012-12-16   5125.0       1.0  ALMACEN
5208   0 2012-12-13   5208.0       1.0  ALMACEN
5270   0 2012-12-16   5270.0       1.0  ALMACEN
5367   0 2013-12-03   5367.0       1.0  ALMACEN
5495   0 2013-12-17   5495.0       1.0  ALMACEN
...             ...      ...       ...      ...
7635   0 2013-12-23   7635.0       1.0  ALMACEN
7674   0 2013-11-29   7674.0       1.0  ALMACEN
7679   0 2012-12-09   7679.0       1.0  ALMACEN
7785   0 2013-12-06   7785.0       1.0  ALMACEN
7956   0 2012-12-19   7956.0       1.0  ALMACEN
7990   0 2013-11-19   7990.0       1.0  ALMACEN
8029   0 2012-11-28   8029.0       1.0  ALMACEN
8142   0 2013-12-13   8142.0       1.0  ALMACEN
8512   0 2013-12-07   8512.0       1.0  ALMACEN
9385   0 2013-12-22   9385.0       1.0  ALMACEN
9638   0 2013-12-12   9638.0       1.0  ALMACEN
10542  0 2013-12-11  10542.0       2.0  ALMACEN
10593  0 2012-12-18  10593.0       1.0  ALMACEN
11504  0 2012-12-18  11504.0       1.0  ALMACEN
11642  0 2013-12-12  11642.0       1.0  ALMACEN
12035  0 2013-12-14  12035.0       3.0  ALMACEN
12289  0 2013-12-21  12289.0       2.0  ALMACEN
12515  0 2013-12-23  12515.0       1.0  ALMACEN
13052  0 2013-11-25  13052.0       1.0  ALMACEN
13143  0 2013-12-21  13143.0       1.0  ALMACEN
13530  0 2013-11-23  13530.0       1.0  ALMACEN
13688  0 2013-12-02  13688.0       2.0  ALMACEN
13828  0 2012-11-29  13828.0       1.0  ALMACEN
14584  0 2013-12-17  14584.0       2.0  ALMACEN
       1 2013-12-22  14584.0       1.0  ALMACEN
15262  0 2013-12-10  15262.0       1.0  ALMACEN
15647  0 2013-12-19  15647.0       1.0  ALMACEN
15680  0 2013-12-05  15680.0       1.0  ALMACEN
15711  0 2013-12-13  15711.0       2.0  ALMACEN
16694  0 2013-12-08  16694.0       1.0  ALMACEN

[82 rows x 4 columns]

Podemos observar que tenemos 82 ventas con posible devolución en el plazo de 7 días, sobre un total de 114, es decir 32 ventas que no tienen otra que a la cual anular en un periodo de 7 días hacía atrás.

Podríamos remover solo las 32 ventas y realizar los cálculos con las demás.

Este razonamiento es un poco complejo, ya que lo interesante de analizar realmente son las ventas y no las devoluciones. Además, en la consigna de la competencia se conoce de antemano que el dataset se encuentra incompleto, para que las predicciones no se sobreajunten.

[Volver al analisis de ventas](./00-analisis-exploratorio-ventas.ipynb)